.caixa-cartoes{
    display: flex;
    justify-content: space-evenly;
}


.caixote{

    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
}

.caixote img{
    width: 100%;
    border-radius: 15px
}

.item p{
    text-align: justify;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p{
    padding: 5px;
    text-align: justify;
}

button{
    padding: 10px;
    border-radius: 15px;
    background-color: blueviolet
}