#caixa-cartoes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.caixote{

    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 10px #8888;
}

.caixote img{
    width: 100%;
    border-radius: 15px
}

.item p{
    text-align: justify;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p{
    padding: 5px;
    text-align: justify;
}

button{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(219, 202, 252)
}

header{
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgb(219, 202, 252);
    text-align: center;
}


footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(148, 32, 32, 0);
    text-align: center;
}